{% extends "layout.html" %}
{% load static %}
{% block content %}

<div class="bg-midnight-950 border border-slate-600 rounded-2xl px-10 py-7">
    <form onsubmit="CPFSFormSubmit(this);return false;" id="CPFSForm">
        <div class="flex flex-col gap-5">
            <div class="flex flex-col gap-2">
                <label class="text-gray-200 text-base">
                    Provide Your Amazon Product Link:
                </label>
                <textarea
                    class="w-full rounded-xl bg-ebony-950 py-3 px-5 text-white border border-slate-700 outline-none focus:outline focus:outline-slate-400 transition duration-300 ease-in-out"
                    rows="1" name="product-link" id="product-link"
                    placeholder="https://www.amazon.com/dp/B08N5NQ69J"></textarea>
            </div>

            <div class="flex flex-col gap-2">
                <label class="text-gray-200 text-base">
                    Display Options:
                </label>
                <div class="px-7 py-5 rounded-xl bg-ebony-950 w-full flex flex-col gap-3 border border-slate-700">
                    <div class="flex flex-row gap-3 text-white items-center">
                        <input type="checkbox" class="w-5 h-5 accent-midnight-500 hover:accent-midnight-700"
                            id="opt-score" name="opt-score" checked />
                        <label>Score</label>
                    </div>
                    <div class="flex flex-row gap-3 text-white items-center">
                        <input type="checkbox" class="w-5 h-5 accent-midnight-500" id="opt-reddit" name="opt-reddit"
                            checked />
                        <label>Reddit Source</label>
                    </div>
                    <div class="flex flex-row gap-3 text-white items-center">
                        <input type="checkbox" class="w-5 h-5 accent-midnight-500" id="opt-ad" name="opt-ad" checked />
                        <label>Advantages and Disadvantages</label>
                    </div>
                    <div class="flex flex-row gap-3 text-white items-center">
                        <input type="checkbox" class="w-5 h-5 accent-midnight-500" id="opt-advices" name="opt-advices"
                            checked />
                        <label>Advices</label>
                    </div>
                </div>
            </div>

            <div class="px-7 py-5 rounded-xl bg-ebony-950 w-full flex flex-col gap-3 border border-slate-700">
                <div class="flex flex-row gap-3 text-white items-center">
                    <input type="checkbox" class="w-5 h-5 accent-midnight-500 hover:accent-midnight-700"
                        id="opt-debug-mode" name="opt-debug-mode" />
                    <label>Enable Debug Mode</label>
                </div>

            </div>

            <div class="flex w-full justify-center" id="analyze-btn">
                <button
                    class="px-5 py-3 bg-midnight-500 rounded-lg text-white hover:bg-midnight-700 transition duration-300 ease-in-out"
                    type="submit">Analyze</button>
            </div>

        </div>

    </form>
</div>

<div class="w-full h-fit bg-midnight-950 border border-slate-700 rounded-2xl px-10 py-7 flex flex-col gap-3"
    id="debug-card">
    <div class="px-7 py-5 h-32 overflow-auto text-sm text-slate-300 font-mono rounded-xl bg-ebony-950 w-full flex flex-col gap-3 border border-slate-700"
        id="debug-content">
    </div>

</div>

<div class="gap-2 text-white text-base w-full h-fit bg-midnight-950 border border-slate-700 rounded-2xl px-10 py-7 flex flex-col"
    id="details-card">
    <div
        class="p-2 text-2xl w-fit bg-midnight-500 rounded-lg text-white hover:bg-midnight-700 transition duration-300 ease-in-out display-score">
        Amazon Original Rating: <span id="amazon-original-score">

        </span>

    </div>
    <div><strong>Product Title: </strong></div>
    <div class="mb-2 min-h-10 bg-ebony-950 px-3 py-2 hover:bg-ebony-900 rounded-xl" id="details-product-title">
    </div>
    <div><strong>Product URL: </strong></div>
    <div class="mb-2 min-h-10 bg-ebony-950 px-3 py-2 hover:bg-ebony-900 rounded-xl" id="details-product-url">
    </div>
    <div><strong>Last Amazon Update: </strong></div>
    <div class="mb-3 min-h-10 bg-ebony-950 px-3 py-2 hover:bg-ebony-900 rounded-xl" id="details-product-last-update">
    </div>

</div>

<div class="bg-midnight-950 border border-slate-700 rounded-2xl px-10 py-7 flex flex-col gap-3"
    id="amazon-summary-card">
    <div id="amazon-summary-loading" class="w-full h-fit animate-pulse flex flex-col gap-3">{% include 'pulse.html' %}
    </div>
    <div class="w-full h-fit flex flex-col gap-3" id="amazon-summary">
        <div id="amazon-summary-score"
            class="p-2 text-2xl w-fit bg-midnight-500 rounded-lg text-white hover:bg-midnight-700 transition duration-300 ease-in-out display-score">
            3/5
        </div>
        <div class="text-xl font-bold text-white">What do Amazon Customers say?</div>
        <div class="text-base text-slate-300 font-serif leading-relaxed" id="amazon-summary-content">
            Content is loading...
        </div>
    </div>

</div>
<div class="bg-midnight-950 border border-slate-700 rounded-2xl px-10 py-7 flex flex-col gap-3"
    id="reddit-summary-card">
    <div id="reddit-summary-loading" class="w-full h-fit animate-pulse flex flex-col gap-3">
        {% include 'pulse.html' %}
    </div>
    <div class="w-full h-fit flex flex-col gap-3" id="reddit-summary">
        <div id="reddit-summary-score"
            class="p-2 text-2xl w-fit bg-midnight-500 rounded-lg text-white hover:bg-midnight-700 transition duration-300 ease-in-out display-score">
            5/5
        </div>
        <div class="text-xl font-bold text-white">What do we get from Reddit?</div>
        <div class="text-base text-slate-300 font-serif leading-relaxed" id="reddit-summary-content">
            Content is loading...
        </div>
    </div>
</div>

<div class="bg-midnight-950 border border-slate-700 justify-evenly rounded-2xl px-10 py-7 flex flex-row gap-8"
    id="ad-card">
    <div id="ad-loading" class="w-full h-fit animate-pulse flex flex-col gap-3">
        {% include 'pulse.html' %}
    </div>
    <div id="ad" class="flex flex-col justify-content-evenly  md:flex-row gap-3">
        <div class="flex-1 text-base text-slate-300 font-serif flex flex-col gap-3">
            <div
                class="p-2 text-xl w-fit bg-green-500 rounded-lg text-white hover:bg-green-700 transition duration-300 ease-in-out">
                Advantages
            </div>
            <div id="advantages-content" class="flex flex-col gap-2">
                Content is loading...
            </div>
        </div>

        <div class="flex-1 text-base text-slate-300 font-serif flex flex-col gap-3">
            <div
                class="p-2 text-xl w-fit bg-red-500 rounded-lg text-white hover:bg-red-700 transition duration-300 ease-in-out">
                Disadvantages
            </div>
            <div id="disadvantages-content" class="flex flex-col gap-2">
                Content is loading...
            </div>
        </div>
    </div>
</div>

<div class="bg-midnight-950 border border-slate-700 rounded-2xl px-10 py-7 flex flex-col gap-3" id="advices-card">
    <div id="advices-loading" class="w-full h-fit animate-pulse flex flex-col gap-3">
        {% include 'pulse.html' %}
    </div>
    <div id="advices" class="flex-1 text-base text-slate-300 font-serif flex flex-col gap-3">
        <div id="advices-suggestion"
            class="p-2 text-2xl w-fit bg-midnight-500 rounded-lg text-white hover:bg-midnight-700 transition duration-300 ease-in-out">
            Yes
        </div>
        <div class="text-xl font-bold text-white">Should you buy it?</div>
        <div class="leading-relaxed text-base text-slate-300 font-serif" id="advices-content">
            Content is loading...
        </div>
    </div>
</div>


{% endblock %}