{% extends "layout.html" %}

{% block content %}

<div class="bg-midnight-950 border border-slate-700 rounded-2xl px-10 py-7">
    <form>
        <div class="flex flex-col gap-5">
            <label class="text-gray-200 text-base">
                Provide Your Amazon Product Link:
            </label>
            <textarea
                class="w-full rounded-xl bg-ebony-950 py-3 px-5 text-white outline-none focus:outline focus:outline-slate-400 transition duration-300 ease-in-out"
                rows="1"></textarea>

            <label class="text-gray-200 text-base">
                Customize Your Analyzer:
            </label>
            <div class="px-7 py-5 rounded-xl bg-ebony-950 w-full flex flex-col gap-3">
                <div class="flex flex-row gap-3 text-white items-center">
                    <input type="checkbox" class="w-5 h-5 accent-indigo-500 hover:accent-indigo-700" />
                    <label>Display Score</label>
                </div>
                <div class="flex flex-row gap-3 text-white items-center">
                    <input type="checkbox" class="w-5 h-5 accent-indigo-500" />
                    <label>Discover Reddit Source</label>
                </div>
                <div class="flex flex-row gap-3 text-white items-center">
                    <input type="checkbox" class="w-5 h-5 accent-indigo-500" />
                    <label>Evaluate Pros and Cons</label>
                </div>
            </div>

            <div class="flex w-full justify-center">
                <button
                    class="px-5 py-3 bg-indigo-500 rounded-lg text-white hover:bg-indigo-700 transition duration-300 ease-in-out"
                    type="submit">Analyze</button>
            </div>

        </div>

    </form>
</div>

<div class="bg-midnight-950 border border-slate-700 rounded-2xl px-10 py-7 flex flex-col gap-3">
    <div
        class="p-2 text-2xl w-fit bg-indigo-500 rounded-lg text-white hover:bg-indigo-700 transition duration-300 ease-in-out">
        3/5
    </div>
    <div class="text-xl font-bold text-white">What do Amazon Customers say?</div>
    <div class="text-base text-slate-300 font-serif">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
        magna
        aliqua. A iaculis at erat pellentesque adipiscing commodo. Maecenas volutpat blandit aliquam etiam erat velit
        scelerisque. Arcu cursus vitae congue mauris rhoncus aenean. Posuere lorem ipsum dolor sit amet consectetur
        adipiscing
        elit duis. Sit amet nisl purus in mollis nunc sed id semper. Magna eget est lorem ipsum dolor sit amet
        consectetur
        adipiscing. Lacinia at quis risus sed. Fringilla urna porttitor rhoncus dolor purus non enim praesent elementum.
        Facilisis sed odio morbi quis.
        Lacinia quis vel eros donec ac odio tempor. Eu sem integer vitae justo eget magna. Faucibus nisl tincidunt eget
        nullam
        non nisi est sit amet. Id donec ultrices tincidunt arcu non sodales neque. Dis parturient montes nascetur
        ridiculus mus
        mauris vitae ultricies leo. Ipsum consequat nisl vel pretium lectus quam id leo in. Elementum nisi quis eleifend
        quam.
        Bibendum enim facilisis gravida neque convallis. Et molestie ac feugiat sed lectus vestibulum mattis
        ullamcorper. A
        condimentum vitae sapien pellentesque habitant. Neque vitae tempus quam pellentesque nec. Elit sed vulputate mi
        sit
        amet. Proin sed libero enim sed faucibus turpis in. Est placerat in egestas erat imperdiet sed euismod nisi
        porta.
        Et odio pellentesque diam volutpat commodo sed.
    </div>
</div>
<div class="bg-midnight-950 border border-slate-700 rounded-2xl px-10 py-7 flex flex-col gap-3">
    <div
        class="p-2 text-2xl w-fit bg-indigo-500 rounded-lg text-white hover:bg-indigo-700 transition duration-300 ease-in-out">
        5/5
    </div>
    <div class="text-xl font-bold text-white">What do we get from other sources?</div>
    <div class="text-base text-slate-300 font-serif">

        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
        magna
        aliqua. A iaculis at erat pellentesque adipiscing commodo. Maecenas volutpat blandit aliquam etiam erat velit
        scelerisque. Arcu cursus vitae congue mauris rhoncus aenean. Posuere lorem ipsum dolor sit amet consectetur
        adipiscing
        elit duis. Sit amet nisl purus in mollis nunc sed id semper. Magna eget est lorem ipsum dolor sit amet
        consectetur
        adipiscing. Lacinia at quis risus sed. Fringilla urna porttitor rhoncus dolor purus non enim praesent elementum.
        Facilisis sed odio morbi quis.
        Lacinia quis vel eros donec ac odio tempor. Eu sem integer vitae justo eget magna. Faucibus nisl tincidunt eget
        nullam
        non nisi est sit amet. Id donec ultrices tincidunt arcu non sodales neque. Dis parturient montes nascetur
        ridiculus mus
        mauris vitae ultricies leo. Ipsum consequat nisl vel pretium lectus quam id leo in. Elementum nisi quis eleifend
        quam.
        Bibendum enim facilisis gravida neque convallis. Et molestie ac feugiat sed lectus vestibulum mattis
        ullamcorper. A
        condimentum vitae sapien pellentesque habitant. Neque vitae tempus quam pellentesque nec. Elit sed vulputate mi
        sit
        amet. Proin sed libero enim sed faucibus turpis in. Est placerat in egestas erat imperdiet sed euismod nisi
        porta.
    </div>
</div>

<div class="bg-midnight-950 border border-slate-700 rounded-2xl px-10 py-7 flex flex-row gap-8">

    <div class="flex-1 text-base text-slate-300 font-serif flex flex-col gap-3">
        <div
            class="p-2 text-2xl w-fit bg-green-500 rounded-lg text-white hover:bg-green-700 transition duration-300 ease-in-out">
            Advantages
        </div>
        <div>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
            dolore
            magna
            aliqua.
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
            dolore
            magna
            aliqua.
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
            dolore
            magna
            aliqua.
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
            dolore
            magna
            aliqua.
        </div>
    </div>
    <div class="flex-1 text-base text-slate-300 font-serif flex flex-col gap-3">
        <div
            class="p-2 text-2xl w-fit bg-red-500 rounded-lg text-white hover:bg-red-700 transition duration-300 ease-in-out">
            Disadvantages
        </div>
        <div>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
            dolore
            magna
            aliqua.
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
            dolore
            magna
            aliqua.
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
            dolore
            magna
            aliqua.
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
            dolore
            magna
            aliqua.
        </div>
    </div>
</div>

<div class="bg-midnight-950 border border-slate-700 rounded-2xl px-10 py-7 flex flex-col gap-3">
    <div
        class="p-2 text-2xl w-fit bg-indigo-500 rounded-lg text-white hover:bg-indigo-700 transition duration-300 ease-in-out">
        Yes
    </div>
    <div class="text-xl font-bold text-white">Should you buy it?</div>
    <div class="text-base text-slate-300 font-serif">

        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
        magna
        aliqua. A iaculis at erat pellentesque adipiscing commodo. Maecenas volutpat blandit aliquam etiam erat velit
        scelerisque. Arcu cursus vitae congue mauris rhoncus aenean. Posuere lorem ipsum dolor sit amet consectetur
        adipiscing
        elit duis. Sit amet nisl purus in mollis nunc sed id semper. Magna eget est lorem ipsum dolor sit amet
        consectetur
        adipiscing. Lacinia at quis risus sed. Fringilla urna porttitor rhoncus dolor purus non enim praesent elementum.
        Facilisis sed odio morbi quis.

    </div>
</div>


{% endblock %}