{% load static %}
<!DOCTYPE html>
<html>

<head>

    <link rel="'icon" href="{% static 'images/favicon.ico' %}" type="image/x-icon" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Customer Product Feedback System</title>
    <link rel="stylesheet" href="{% static 'css/app.min.css' %}">
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css">

</head>

<body>

    <div class="w-screen h-screen overflow-auto bg-ebony-950 px-10 py-16 flex flex-col items-center gap-7">
        <div class="2xl:w-5/12 xl:w-7/12 lg:w-8/12 md:w-10/12 sm:w-full flex flex-col gap-8">
            <div>

                <div class="flex flex-col gap-6">
                    <div class="text-white text-3xl font-bold">Customer Product Feedback System</div>
                    <div class="text-gray-300 text-lg">Welcome back, Max</div>
                </div>


            </div>

            <div class="flex flex-col gap-10">
                {% block content %}
                {% endblock %}
            </div>
        </div>
    </div>

    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/toastify-js"></script>
    <script src="{% static 'js/helpers.js' %}"></script>
    <script src="{% static 'js/prompt.js' %}"></script>

</body>

</html>