{% load static %}
<!DOCTYPE html>
<html>

<head>

    <link rel="'icon" href="{% static 'images/favicon.ico' %}" type="image/x-icon" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Customer Product Feedback System</title>
    <link rel="stylesheet" href="{% static 'css/app.min.css' %}">

</head>

<body>

    <div class="w-screen h-screen bg-ebony-950 p-10 flex flex-col items-center gap-7">
        <div class="2xl:w-5/12 xl:w-7/12 lg:w-8/12 md:w-full sm:w-full flex flex-col gap-8">
            <div>

                <div class="flex flex-col gap-8">
                    <div class="text-white text-3xl">Customer Product Feedback System</div>
                    <div class="text-gray-300 text-lg">Welcome back, Max</div>
                </div>


            </div>

            <div class="flex flex-col gap-10">
                {% block content %}
                {% endblock %}
            </div>
        </div>
    </div>
    <script src="{% static 'js/prompt.js' %}"></script>
</body>

</html>